<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Authentication API</p>
    <button type="button" name="button" class="btnlogin">LOGIN</button>
    <button type="button" name="button" class="btnsgnup">SIGNUP</button>
  </body>
</html>
